<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hallo</title>
  </head>
  <body>
    <header><h1>Another a header<h1></header>
    <main id="main">
      <p>this webpack project boilerplate uses .ejs template engine.</p>
      <small>below is dynamic js created from index.js file.</small>
    </main>
  </body>
</html>
